[submodule ".dotbot"]
	path = .dotbot
	url = https://github.com/anishathalye/dotbot
	
[submodule "tmux/tpm"]
	path = tmux/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "zsh/antigen"]
	path = zsh/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "espanso"]
	path = espanso
	url = git@github.com:Lissy93/espanso-config.git
